Source: nexory-tunnel
Section: net
Priority: optional
Maintainer: Nexory Labs <admin@nexorylabs.com>
Build-Depends: debhelper-compat (= 13), curl, ca-certificates
Standards-Version: 4.6.2
Homepage: https://github.com/mualiyu/NexoryLabs-Tunnel
Rules-Requires-Root: no

Package: nexory-tunnel
Architecture: amd64
Depends: ${misc:Depends}, ca-certificates
Description: Nexory tunnel client
 Expose local web apps and TCP ports through your self-hosted Nexory
 frp tunnel server. Includes the frpc binary and a simple CLI.
