#!/usr/bin/make -f

export DH_VERBOSE = 1

%:
	dh $@

override_dh_auto_build:
	debian/fetch-frpc.sh

override_dh_install:
	dh_install
	test -f debian/nexory-tunnel/usr/bin/tunnel.sh
	mv debian/nexory-tunnel/usr/bin/tunnel.sh debian/nexory-tunnel/usr/bin/nexory-tunnel
	chmod 755 debian/nexory-tunnel/usr/bin/nexory-tunnel

override_dh_auto_clean:
	dh_auto_clean
	rm -rf build
