#!/usr/bin/make -f

export DH_VERBOSE = 1

%:
	dh $@

override_dh_auto_build:
	debian/fetch-frpc.sh

override_dh_install:
	dh_install
	install -d debian/nexory-tunnel/usr/bin
	install -m 755 tunnel.sh debian/nexory-tunnel/usr/bin/nexory-tunnel
	test -x debian/nexory-tunnel/usr/bin/nexory-tunnel

override_dh_auto_clean:
	dh_auto_clean
	rm -rf build
